{
  "name": "Extended CSV Tools",
  "label": "Extended CSV Tools",
  "description": "Provides Actions for IQ Bot Output Files.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}